
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Muli', sans-serif;
    height:100vh;
}
header{
    height: 7rem;
    width: 100vw;
    background: #9FBB42;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 5rem;
    height: 5rem;
    margin-left:20px;
}
.doctor-container{
    display: flex;
    flex-wrap:wrap;
}
section.card{
    height: 500px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    border-radius:10px;
    margin:2rem;
}
section.card img{
    height: 350px;
    object-fit:cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.content{
    margin:20px;
}
.doctor{
    text-align: center;
}
.title{
    text-align: center;
    margin:10px;
    color:green;
}
 i{
    color:white;
    font-size:20px;
    margin:10px;
}
#login-btn{
    margin-right:20px;
}
.content{
    text-align: center;
}
.main-wrapper {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.prescription-container{
    flex:4;
    width: 100%;
}
.doctor-container{
    flex:6;
    width: 100%;
}
.prescription-list{
    background-color: #eceee5;
    padding:20px;
    display: flex;
    margin-top: 25px;
    flex-wrap:wrap;
}
.logout{
    background-color: white;
    text-transform:'lowercase';
    color:black;
    position:absolute;
    top:4.3rem;
    right:0;
    padding: 0.3rem;
    font-size:14px;
    font-weight: 300;
    display:none;
  }
  #login-btn:hover > .logout{
    display:block;
  }
  .prescription{
    width: 45%;
    text-align: center;
    background-color: white;
    margin:5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:10px;
    padding: 5px;
    position:relative;
  }
  #delete-btn{
    position:absolute;
    top:5px;
    right:5px;
  }